<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contest="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
">
<!--spring中的配置文件，配置和业务逻辑有关-->

    <!--配置数据库连接池（阿里巴巴连接池）-->
    <bean id="pooledDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/ssmcrud?characterEncoding=utf-8"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>
    <!-- 配置mybatis的整合(sqlSessionFactory) -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- mybatis配置文件路径 全局配置文件 -->
        <property name="configLocation" value="classpath:SqlMapConfig.xml" />
        <property name="dataSource" ref="pooledDataSource" />
        <!-- 自动加载mapper映射文件 -->
        <property name="mapperLocations" value="classpath:mapper/UserMapper.xml"></property>
    </bean>


    <!--Dao接口所在的包，mybatis MapperScannerConfigurer 自动扫描 将Mapper接口生成代理类，可以实现mapper的接口
    注入到SpringIoc容器中-->
    <!-- 设置Mapper映射文件所在的包 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描包路径，如果需要扫描多个包，中间使用半角逗号隔开 -->
        <property name="basePackage" value="com.crud.mapper"></property>
    </bean>

    <!--事务控制-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--控制数据源-->
        <property name="dataSource" ref="pooledDataSource"></property>
    </bean>
    <!--基于注解的事务 使用xml配置开启事务模式，重要的使用xml配置事务模式-->
    <aop:config>
        <!--切入点表达式'execution(* com.xyz.myapp.service.*.*(..))'-->
        <aop:pointcut id="pt" expression='execution(* com.crud.service.*.*(..))'/>
        <!--配置事务增强-->
        <aop:advisor advice-ref="txAdvisor" pointcut-ref="pt"/>
    </aop:config>
    <!--事务如何切入-->
    <tx:advice   id="txAdvisor">
        <tx:attributes>
            <!-- 所有方法都是事务方法 -->
            <tx:method name="*"/>
            <!--以get开始的所有方法  -->
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

</beans>

